{
  "playpause": [
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Player.PlayPause",
      "params": {
        "playerid": 0
      }
    }
  ],
  "previous": [
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Player.GoTo",
      "params": {
        "playerid": 1,
        "to": "previous"
      }
    }
  ],
  "next": [
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Player.GoTo",
      "params": {
        "playerid": 1,
        "to": "next"
      }
    }
  ],
  "stop": [
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Player.Stop",
      "params": {
        "playerid": 0
      }
    },
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Playlist.Clear",
      "params": {
        "playerid": 0
      }
    }
  ],
  "volup": [
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Application.SetVolume",
      "params": {
        "vomume": "increment"
      }
    },{
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Application.SetVolume",
      "params": {
        "vomume": "increment"
      }
    },{
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Application.SetVolume",
      "params": {
        "vomume": "increment"
      }
    }
  ],
  "voldown": [
    {
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Application.SetVolume",
      "params": {
        "vomume": "decrement"
      }
    },{
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Application.SetVolume",
      "params": {
        "vomume": "decrement"
      }
    },{
      "jsonrpc": "2.0",
      "id": 1,
      "method": "Application.SetVolume",
      "params": {
        "vomume": "decrement"
      }
    }
  ],
  "playlists": {
    "all": "special://profile/playlists/music/playlist-all.xsp",
  },
  "radios": {
    "campus": "https://live.radio-campus.org:8002/clermont-ferrand"
  },

  "playlist-template": [
    {
      "method": "Player.Stop",
      "id": 1,
      "jsonrpc": "2.0",
      "params": {
        "playerid": 1
      }
    },
    {
      "method": "Playlist.Clear",
      "id": 2,
      "jsonrpc": "2.0",
      "params": {
        "playlistid": 1
      }
    },
    {
      "method": "Player.SetShuffle",
      "id": 3,
      "jsonrpc": "2.0",
      "params": {
        "shuffle": true,
        "playerid": 1
      }
    },
    {
      "method": "Playlist.Add",
      "id": 4,
      "jsonrpc": "2.0",
      "params": {
        "playlistid": 1,
        "item": {
          "directory": "%URL%"
        }
      }
    },
    {
      "method": "Player.Open",
      "id": 5,
      "jsonrpc": "2.0",
      "params": {
        "item": {
          "playlistid": 1
        }
      }
    }
  ],

  "radio-template": [
    {
      "method": "Player.Stop",
      "id": 1,
      "jsonrpc": "2.0",
      "params": {
        "playerid": 1
      }
    },
    {
      "method": "Playlist.Clear",
      "id": 2,
      "jsonrpc": "2.0",
      "params": {
        "playerid": 1
      }
    },
    {
      "method": "Player.Open",
      "id": 3,
      "jsonrpc": "2.0",
      "params": {
        "item": {
          "file": "%URL%"
        }
      }
    }
  ]
}